name: Build and Push Container to ECR

on:
  workflow_call:
    inputs:
      runs_on:
        description: "Base image the job runs on for building containers"
        default: "ubuntu-24.04-arm"
        required: false
        type: string
      dockerfile:
        description: "Path to the Dockerfile"
        required: true
        type: string
      image_repository:
        description: "Container image repository"
        required: true
        type: string
      image_tag:
        description: "Container image tag"
        required: true
        type: string
      aws_region:
        description: "AWS region"
        required: true
        type: string
    secrets:
      aws_iam_role:
        description: "AWS IAM role"
        required: true

jobs:
  build-and-push-to-ecr:
    runs-on: ${{ inputs.runs_on }}

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.aws_iam_role }}
          aws-region: ${{ inputs.aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build image
        id: build-image
        env:
          IMAGE_URI: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.image_repository }}:${{ inputs.image_tag }}
        run: |
          docker buildx build \
            --provenance=false \
            -t $IMAGE_URI \
            --file ${{ inputs.dockerfile }} \
            --load \
            .
          echo "image_uri=$IMAGE_URI" >> $GITHUB_OUTPUT

      - name: Push to ECR
        run: |
          docker push ${{ steps.build-image.outputs.image_uri }}
